.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px;
    background-color: #ffffff;
  }

  .header .logo, .header .login {
    flex: 1;
  }
  
  .header .menu {
    flex: 4;
    text-align: center;
  }
  
  .header .menu ul {
    list-style: none;
    font-size: 24px;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 24px; /* Espaço entre os itens do menu */
  } 
  
  .header .menu ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  
  .header .login button {
    padding: 8px 32px;
    cursor: pointer;
    background-color: #004AAD;
    border: none;
    color: white;
    border-radius: 32px;
    font-size: 24px;
    top: 64px;
  }
  
  .login {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100px; 
  }